h1 {
    font-family: $pt-mono;
    font-weight: $regular;
    font-size: $xxx-large;
}

h2 {
    font-family: $pt-mono;
    font-weight: $regular;
    font-size: $x-large;
}

p {
    font-family: $roboto;
    font-weight: $light;
    font-size: $medium;
    padding-right: 4rem;
}