@import url('https://fonts.googleapis.com/css?family=PT+Mono|Roboto:300&display=swap" rel="stylesheet');
$pt-mono: 'PT Mono',
monospace;
$roboto: 'Roboto',
sans-serif;
// Esquema de colores 
// Primer esquema de color
$white: #FFF;
$isabelline: #EEEDED;
$spanish-gray: #989797;
// Segundo esquema de color 
$coral: #FA824C;
$buff: #F1DD7D;
$vanilla: #F5E7A1;
// Tercer esquema de color
$flame: #E4572E;
$light-red-ochre: #E87554;
$pastel-pink: #F2B2A0;
// Cuarto esquema de color
$shiny-shamrock: #4CA866;
$turquoise-green: #9DCFAB;
$pastel-gray: #BDDFC7;
// Quinto esquema de color
$blue-de-france: #3C91EC;
$blue-jeans: #5FA5EA;
$jordy-blue: #82B9EF;
// Sexto esquema de color
$black: #000000;
$outer-space: #454545;
$quick-silver: #A2A2A2;
// Tipografia
$pt-mono: 'PT Mono',
monospace;
$roboto: 'Roboto',
sans-serif;
// Peso de fuentes
$light: 300;
$regular: 400;
// Tamaño de fuentes
$xxx-large: 70px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;